    <div id="bump"></div>
    </section>
    <div id="footer">
      {{FOOTER}}
    </div>
    <!-- JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom -->
    
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{STATIC_PREFIX}}javascript/vendor/jquery-1.7.2.min.js"><\/script>')</script>-->
    <script src="{{STATIC_PREFIX}}javascript/dojo/dojo.js"
            data-dojo-config="async:true, isDebug: true"></script>
    <!--<script src="{{STATIC_PREFIX}}javascript/vendor/jquery-1.7.2.min.js"></script>
        <script src="{{STATIC_PREFIX}}javascript/vendor/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="{{STATIC_PREFIX}}javascript/combobox.js"></script>-->
    
    <!-- scripts concatenated and minified via build script -->
    <script src="{{STATIC_PREFIX}}javascript/app/run.js"></script>
    <script>
      {{#SCRIPTS}}
      require ([
      {{{SCRIPT}}}
      ]);
      {{/SCRIPTS}}
    </script>
    <!-- end scripts -->
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet 
         <script>
           var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
           (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
           g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
           s.parentNode.insertBefore(g,s)}(document,'script'));
         </script>-->
  </body>
</html>
