<h2>Experimental web app using C++11 features.</h2>
<p>
  <ol>
    {{#POSTS}}
    <li id="{{ID}}">
      <h3>{{TITLE}}</h3>
      <a href="/editpost/{{ID}}/">edit</a>
      <a class='deletepost'
         href="/deletepost/{{ID}}/">delete</a>
    </li>
    {{/POSTS}}
  </ol>
  <a href="/editpost/-1/">new post</a>
</p>