$default-text-shadow-color: rgba(red, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3";
@import "fancy-buttons";
@import "susy";
.page{
        min-width:992px;
        margin-top:0px;
        padding-top:1px;
}
.hidden,#footer{
    display:none;
    }
